<div class="corner-btn">
  <button class="btn btn-warning" (click)="volver()">Atrás</button>
</div>
<div class="create-categorieInfo">
  <th colspan="10" class="title">CREA UNA CATEGORÍA NUEVA</th>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>

        <th class="actions">Acciones</th>
      </tr>
    </thead>
    <tbody class="form">
      <td>
        <input input type="text" />
      </td>
      <td class="actions">
        <button class="btn btn-primary bt1">Guardar</button>
        <button class="btn btn-success bt2">Cancelar</button>
      </td>
    </tbody>
  </table>
</div>
