.create-categorieInfo {
  background-image: url("../../assets/images/Categorias.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.form {
  height: 10vh;
}

.corner-btn {
  position: absolute;
  top: 0;
  left: 3vh;
  margin: 10px;
  z-index: 1;
}

table {
  width: 40%;
  border-collapse: collapse;
  text-align: center;
  color: white;
  margin-left: 50vh;
}

thead th {
  text-align: center;
}

tbody {
  background-color: rgba(0, 0, 0, 0.8);
}

tbody td:not(.actions) {
  opacity: 1;
}

tbody td {
  font-size: 1.2em;
  border: 1px solid #ccc;
  padding: 1px;
}

.actions button {
  opacity: 1;
}

th[colspan="10"] {
  font-size: 4em;
  text-shadow: 3px 3px #000000;
}

th {
  font-size: 2em;
  text-shadow: 2px 2px #000000;
}

th.title {
  padding-left: 35vh;
  text-align: center;
  color: white;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.bt1 {
  margin-left: 2vh;
  float: left;
}
.bt2 {
  margin-right: 2vh;
  float: right;
}
.log-out {
  margin-right: 4vh;
  margin-top: 2vh;
  float: right;
}
