<!-- Componente LandingPage -->
<div
  class="landing-page vh-100"
  style="
    background-image: url('../../assets/images/jumbotron_1200.jpg');
    background-size: cover;
  "
>
  <div class="container">
    <h1 style="color: white; text-shadow: 2px 2px rgb(1, 1, 1)">Bienvenido</h1>
    <p style="color: white; text-shadow: 2px 2px rgb(1, 1, 1)">
      Seleccione una sección:
    </p>
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="/categorias">
          <div class="card card-hover transition">
            <div class="card-body">
              <h5 class="card-title">Categorías</h5>
              <p class="card-text">
                Administre las categorías:
                <strong>¡Iinicia sesión!</strong>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a routerLink="/productos">
          <div class="card card-hover transition">
            <div class="card-body">
              <h5 class="card-title">Productos</h5>
              <p class="card-text">
                Administre los productos:
                <strong>¡Iinicia sesión!</strong>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a routerLink="/login">
          <div class="card card-hover transition">
            <div class="card-body">
              <h5 class="card-title">Usuarios</h5>
              <p class="card-text">
                Administre los usuarios: <strong>¡Iinicia sesión!</strong>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4 second-row">
        <a routerLink="/createcategorie">
          <div class="card card-hover transition">
            <div class="card-body">
              <h5 class="card-title">Crear Categoría</h5>
              <p class="card-text">
                Crea una categoría nueva: <strong>¡Iinicia sesión!</strong>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4 second-row">
        <a routerLink="/createproduct">
          <div class="card card-hover transition">
            <div class="card-body">
              <h5 class="card-title">Crear Productos</h5>
              <p class="card-text">
                Crea un producto nuevo: <strong>¡Iinicia sesión!</strong>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <main>
    <div class="container p-lg-4 col-md-12 titleForm">
      <h3>SI NO TIENES UNA CUENTA, ¡REGÍSTRATE!</h3>
    </div>

    <div class="form-container">
      <form (ngSubmit)="crearUsuario()" *ngIf="nuevoUsuario">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            placeholder="Escribe tu nombre"
            maxlength="30"
            class="form-control"
            id="nombre"
            name="nombre"
            required
            [(ngModel)]="nuevoUsuario.nombre"
          />
        </div>
        <div class="form-group">
          <label for="correo">Correo:</label>
          <input
            type="email"
            maxlength="50"
            placeholder="ejemplo@hotmail.com"
            class="form-control"
            id="correo"
            name="correo"
            required
            [(ngModel)]="nuevoUsuario.correo"
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input
            type="password"
            placeholder="La contraseña debe tener al menos 6 caracteres"
            class="form-control"
            id="password"
            name="password"
            required
            [(ngModel)]="nuevoUsuario.password"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          style="padding: 6px 125px; font-size: 16px; font-weight: bold"
        >
          REGISTRARSE
        </button>
      </form>
    </div>
  </main>
</div>
