<div class="corner-btn">
  <button class="btn btn-warning" (click)="volver()">Atrás</button>
</div>
<div class="productsInfo">
  <table>
    <thead>
      <tr>
        <th colspan="10" class="title">CREA UN PRODUCTO NUEVO</th>
      </tr>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>

        <th class="actions">Guardar</th>
      </tr>
    </thead>
    <tbody class="form">
      <tr>
        <td>
          <input
            type="text"
            placeholder="Nombre del producto"
            [(ngModel)]="nuevoProducto.nombre"
          />
        </td>
        <td>
          <input
            type="text"
            placeholder="Precio del producto"
            [(ngModel)]="nuevoProducto.precio"
          />
        </td>
        <td>
          <select
            (click)="obtenerCatergorias()"
            #selectCategoria
            (change)="nuevoProducto.categoria = selectCategoria.value"
          >
            <option value="" disabled selected>Selecciona una categoría</option>
            <option
              *ngFor="let categoria of categorias"
              [value]="categoria._id"
            >
              {{ categoria.nombre }}
            </option>
          </select>
        </td>
        <td>
          <button class="btn btn-primary" (click)="crearProducto()">
            Guardar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
