.login {
  background-image: url("../../assets/images/imgLogin.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.corner-btn {
  position: absolute;
  top: 0;
  left: 3vh;
  margin: 10px;
  z-index: 1;
}
