<main class="userInfo vh-100 text-black">
  <button type="button" class="btn btn-warning log-out" (click)="logout()">
    Cerrar sesión
  </button>
  <div class="title container p-4 col-md-4 offset-md- text-white">
    <h3>INFORMACIÓN DEL USUARIO</h3>
  </div>

  <div class="container p-4 col-md-4">
    <div class="center text-center">
      <button type="button" class="btn btn-primary mr-5" (click)="volver()">
        Atrás
      </button>
      <button
        type="button"
        class="btn btn-success mr-5 ml-5"
        (click)="actualizarUsuario(usuario.uid, usuario)"
      >
        Actualizar
      </button>
      <button
        type="button"
        class="btn btn-danger ml-5"
        (click)="eliminarUsuario(usuario)"
      >
        Eliminar
      </button>
    </div>
    <div class="card mt-4">
      <div class="card-body custom-border">
        <h4 class="card-title">
          <strong>Nombre: </strong>
          <input type="text" [(ngModel)]="usuario.nombre" />
        </h4>
        <p class="card-text">
          <strong>Correo: </strong>
          <input type="text" [(ngModel)]="usuario.correo" />
        </p>
        <p class="card-text"><strong>Rol: </strong> {{ usuario.rol }}</p>
        <p class="card-text">
          <strong>Estado: </strong> {{ usuario.estado ? "Activo" : "Inactivo" }}
        </p>

        <p class="card-text">
          <strong>Google:</strong> {{ usuario.google ? "Sí" : "No" }}
        </p>
      </div>
    </div>
  </div>
</main>
