<main class="vh-100 text-black background-image">
  " >
  <button type="button" class="btn btn-dark log-out" (click)="logout()">
    Cerrar sesión
  </button>
  <div class="titleR container p-4 col-md-4 text-white">
    <button type="button" class="btn btn-primary float-end" routerLink="">
      Inicio
    </button>
    <h3>USUARIOS REGISTRADOS</h3>
  </div>
  <div class="infoUsuario container p-4 col-md-4 offset-md-">
    <table
      class="table table-dark table-striped table-bordered border-secondary border"
    >
      <div *ngIf="usuarios && usuarios.length > 0">
        <th
          *ngFor="let usuario of usuarios"
          class="d-flex justify-content-between"
        >
          {{ usuario.nombre }}
          <button
            type="button"
            class="btn btn-success btn-sm float-right"
            (click)="verUsuario(usuario.uid)"
          >
            Ver Usuario
          </button>
        </th>
      </div>
    </table>
    <p *ngIf="!(usuarios && usuarios.length > 0)">
      No hay usuarios disponibles.
    </p>
    <div class="pagination">
      <button
        [disabled]="paginaActual === 1"
        (click)="cambiarPagina(paginaActual - 1)"
        type="button"
        class="btn btn-dark"
      >
        Anterior
      </button>
      <button
        [disabled]="paginaActual === totalPaginas"
        (click)="cambiarPagina(paginaActual + 1)"
        class="btn btn-dark btn-next"
      >
        Siguiente
      </button>
    </div>
  </div>
</main>
